.itemsContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.productContainer{
    margin: 10px 80px;
    
}

.cartContainer{
    margin: 60px 10px;
    
}

.read-time{
    height: 50px;
    width: 250px;
    background-color: rgb(193, 184, 247);
    color: rgb(80, 59, 197);
    text-align: center;
    border-radius: 10px;
    /* padding:  1px 0px; */
    position: sticky;
    top: 0;
}

.read-time h4{
    padding-top: 13px;
}

@media only screen and (max-width:688px) {
    .itemsContainer{
        display: flex;
        flex-direction: column;
    }
    .productContainer{
        margin: 20px 30px;
    }
    .cartContainer{
        margin: 10px 30px;
        width: 100%;
    }

}