.itemsContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.productContainer{
    margin: 10px 80px;
    
}

@media only screen and (max-width:688px) {
    .itemsContainer{
        display: flex;
        flex-direction: column;
    }
    .productContainer{
        margin: 30px 30px;
    }

}